<div class="hero-unit">
    <h1>Communicating</h1>
    <p>
        You can communicate towards people in the #billingstack space by the following medias
    </p>
</div>

<div class="row">

    <div class="span4">
        <h2>Mailing Lists</h2>
        <div ng-controller="ListsController" ng-show="false">
            <form name="listForm" class="form" ng-submit="doSubmit()">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" ng-model="email" required/>
                <span class="error" ng-show="listForm.email.$error.required">required</span>
                <span class="error" ng-show="listForm.email.$error.email">invalid email</span>

                <div>
                    <select ng-model="mailinglist" ng-options="ml for ml in lists" multiple ng-multiple="true"></select><br/>
                    <input type="radio" name="job" value="subscribe" ng-model="job"/> Subscribe<br/>
                    <input type="radio" name="job" value="unsubscribe" ng-model="job"/> Unsubscribe<br/>
                    <hr/>
                    <input type="submit" class="btn btn-primary btn-tiny"/>
                </div>

            </form>
            E-Mail: {{email}}<br/>
            Maillinglists: {{mailinglist}}<br/>
            Job: {{job}}
        </div>

        <span ng-repeat="msg in messages">
            <span></span>
        </span>

        <div>
            <h4>Discuss</h4>
            Subscribe: discuss+subscribe@billingstack.org<br/>
            Unsubscribe: discuss+unsubscribe@billingstack.org<br/>
        </div>
        <div>
            <h4>Developers</h4>
            Subscribe: dev+subscribe@billingstack.org<br/>
            Unsubscribe: dev+unsubscribe@billingstack.org<br/>
        </div>
    </div>
    <div class="span4">
        <h2>Internet Relay Chat</h2>
        <b>#billingstack</b> @ <a href="http://www.freenode.org">FreeNode</a>

        <h2>Social Medias</h2>
        <b>Twitter:</b> <a href="http://twitter.com/billingstack">@billingstack</a>
    </div>

</div>
