<div class="hero-unit">
    <h1>Open source Billing software stack</h1>
    <br/>
    <p>
        BillingStack is a set of projects that aim to deliver the needed components to bill services like
        <ul>
            <li>OpenStack, CloudStack or any other IaaS software stack</li>
            <li>Phone systems like Asterisk or alike</li>
            <li>Subscription based systems</li>
        </ul>
    </p>
    <!--p><a class="btn btn-primary btn-large" href="#about">Learn more &raquo;</a></p-->
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Core (Central)</h2>
        <ul>
            <li>Merchants (Tenants)</li>
            <li>Customers</li>
            <li>Plans (Rate Plans)</li>
        </ul>
    </div>

    <div class="span4">
        <h2>Mediate (Medjatur)</h2>
        <p>Pull data from any system, mediate it and push to a billingsystem.</p>
    </div>

    <div class="span4">
        <h2>Rate (Rater)</h2>
        <p>Apply pricing on data from a system and turn into a rate.</p>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h2>Bill / Invoice (Biller)</h2>
        <p>Turn Rate data into Invoice Lines / Items and create Invoices from them.</p>
    </div>

    <div class="span4">
        <h2>Payments (Collector)</h2>
        <p>Collect credits / money for your Invoices using any system</p>
    </div>
</div>
